<%- include('../partials/head') %>
  <body class="bg-gray-50">
    <header>
      <%- include('../partials/adminNav') %>
    </header>
    <main class="flex flex-col items-center">
      <h1 class="w-3/4 p-4 text-3xl text-center bg-gray-50">Products</h1>
      <div class="flex flex-wrap justify-center">
        <% products.forEach(product => { %>
            <div 
              class="m-4 w-64 flex flex-col items-start gap-2 bg-gray-300 text-center rounded-xl"
            >
              <a 
                class="w-full self-center rounded-t-xl"
                href="/product-details/<%= product.productID %>"
              >
                <img 
                  class="w-full self-center rounded-t-xl"
                  src="<%= product.imageUrl %>"
                  alt="<%= product.Name %>"
                >
              </a>
              <h2 class="ml-4 text-2xl font-bold"><%= product.Name %> </h2>
              <span class="px-4 w-full flex justify-between">
                <p class="text-lg font-medium">Rs <%= product.Price %>/- </p>
                <p> &#9733; <%= product.Rating %></p>
              </span>
              <div class="mt-10 mb-2 flex justify-center self-center gap-3">
                <a
                  href="edit-product/<%= product.productID %>?editing=true"
                  class="px-4 py-1.5 bg-blue-500 text-gray-100 text-lg font-semibold rounded-xl"
                >
                Edit
                </a>
                <button
                  class="p-1.5 bg-red-500 text-gray-100 text-lg font-semibold rounded-xl cursor-pointer"
                >
                Delete
                </button>
              </div>
            </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>