<%- include('../partials/head') %>
<body>
  <header><%- include('../partials/storeNav') %></header>
  <main class="flex flex-col items-center">
    <h1 class="w-3/4 my-5 text-4xl font-bold text-center underline">Cart</h1>
    <div class="w-3/4 flex flex-wrap justify-center">
    <% cartProductsWithDetails.forEach(product => { %>
            <div class="m-4 w-64 flex flex-col items-start gap-2 bg-gray-300 text-center rounded-xl">
              <img class="w-full self-center rounded-t-xl" src="<%= product.imageUrl %>" alt="">
              <h2 class="ml-4 text-2xl font-bold"><%= product.Name %> </h2>
              <span class="px-4 w-full flex justify-between">
                <p class="text-lg font-medium"> <%= product.Price %> </p>
                <p> &#9733; <%= product.Rating %></p>
              </span>
              <div class="mt-10 mb-2 flex justify-center self-center gap-3">
                <a href="products-list/<%= product.productID %>" class="p-1.5 bg-green-700 text-gray-100 text-lg font-semibold rounded-xl">Details</a>
                <div class="flex justify-center"></div>
              </div>
            </div>
        <% }) %>
    </div>
  </main>
</body>
