<%- include('../partials/head') %>
  <body class="bg-gray-100 h-screen">
    <header class="sticky top-0">
      <%- include('../partials/storeNav') %>
    </header>
    <main class="mt-5 flex flex-col items-center">
      <div class="h-full w-3/4 flex justify-self-center justify-center items-center aspect-video  bg-[url(images/hero.jpg)] bg-cover bg-center bg-no-repeat">
        <h1 class="p-4 text-5xl text-center ">AA Farmings</h1>
      </div>
      <div class="w-3/4 mt-12 flex flex-wrap justify-center">
         <% products.forEach(product => { %>
            <div class="m-2 w-64 flex flex-col items-start gap-2 bg-linear-to-b from-gray-400 via-gray-300 to-gray-200 text-center rounded-xl">
              <img class="w-full self-center rounded-t-xl" src="<%= product.imageUrl %>" alt="">
              <h2 class="ml-4 text-2xl font-bold"><%= product.Name %> </h2>
              <span class="px-4 w-full flex justify-between">
                <p class="text-lg font-medium">Rs <%= product.Price %>/- </p>
                <p> &#9733; <%= product.Rating %></p>
              </span>
              <div class="mt-10 mb-2 flex justify-center self-center gap-3">
                <a href="products-list/<%= product.productID %>" class="p-1.5 bg-green-700 text-gray-100 text-lg font-semibold rounded-xl">Details</a>
                <div class="flex justify-center">
                  <form action="/cart" method="post">
                    <button
                      type="submit"
                      class="flex-1 text-center bg-blue-500 hover:bg-blue-600 text-white p-1.5 rounded-xl text-lg font-semibold transition duration-300 shadow-xl cursor-pointer"
                    >
                      Add to Cart
                    </button>
                    <input
                      type="hidden"
                      name="productID"
                      value="<%= product.productID %>"
                    />
                  </form>
                </div>
              </div>
            </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>